html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 1.5;
	letter-spacing: 1.25;
	background: #6C534E;
}

.header {
	position: sticky;
	top: 0;
	background: #6C534E;
	max-width: 768px;
	margin: 0 auto;
}

.navigation {
	padding: 16px;
}

.navigation__link {
	color: #FFB140;
}

.section {
	background: #FFFFFF;
	padding: 16px;
}

.section__header {
	color: #084C61;
}

.paragraph {
	background: #FFFFFF;
}

.article {
	background: #FFFFFF;
}

.article__header {
	color: #084C61;
}

.article__link {
	color: #F51AA4;
}

.main {
	max-width: 768px;
	margin: 0 auto;
}

.main__header {
	color: #FFB140;
	padding: 16px;
	background: #6C534E;
}

.footer {
	max-width: 768px;
	margin: 0 auto;
}

.footer__content {
	color: #FFFFFF;
	padding: 16px;
	background: #6C534E;
}

.footer__top-link {
	position: fixed;
	right: 6px;
	bottom: 6px;
	padding: 4px 4px;
	display: block;
	border-radius: 6px;
	color: #FFB140;
	background: #6C534E;
}

.image {
	max-width: 100%;
}

.description-list__term {
	font-weight: 700;
}

.unordered-list {
	list-style-type: none;
}

.section-grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1 rem;
}

@media screen and (min-width: 768px) {
	
}

@media screen and (min-width: 1280px) {
	
}